.card {
    background-color: #2b2b2b;
    margin: 5px;
    border-radius: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

::ng-deep .mat-mdc-card-title {
    margin-right: 10px;
}

.price {
    background-color: #294c3d;
    color: #a7ffc1;
    padding: 5px;
    font-size: large;
    border-radius: 10px;
    white-space: nowrap !important;
}

.title {
    padding: 0 0 10px 5px;
    font-size: 18px;
}

.requesters {
    padding-bottom: 0;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.all {
    margin-top: 15px;
}

.people-icon {
    margin-right: 7px;
}

.people-flex {
    border-radius: 10px;
    padding: 5px 13px 5px 10px;
    background-color: #c2ab2b;
    color: black;
    margin-right: 20px;
}

.money-flex {
    border-radius: 10px;
    padding: 5px 13px 5px 5px;
    background-color: #3cb057;
    color: black;
    span::after{
        content: " Ft";
    }
}

@media only screen and (max-width: 1190px) {
    .card-header {
        flex-wrap: wrap;
        row-gap: 10px;
    }
}