<mat-card class="card">
    <mat-card-header class="card-header">
        <mat-card-title>{{title}}</mat-card-title>
        <div class="price">{{price}} Ft</div>
    </mat-card-header>

    <mat-card-content>
        <div class="title requesters">Megbízók</div>
        @for (request of requestsData; track request['requestId']) {
            <app-requester [requestData]="request" (commissionCompleted)="markAsDone($event)"></app-requester>
        }
        <div class="title all">Összesen</div>
        <div class="flex-container">
            <div class="flex-container people-flex">
                <mat-icon class="people-icon">people</mat-icon>
                <span>{{requestsNumber}}</span>
            </div>
            <div class="flex-container money-flex">
                <mat-icon>attach_money</mat-icon>
                <span>{{totalIncome}}</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>