<div class="full-height">
    <div class="header">
        <input type="file" accept="image/*" class="hide" (change)="changeProfilePicture($event, profile_shadow)" #fileUpload>
        <div class="image" (click)="showOption($event)">
            <img id="profile_pic" [src]="profileUrl" alt="profile-picture">
            <div class="shadow profile-shadow" (click)="hideOption($event)" #profile_shadow>
                <button mat-mini-fab (click)="fileUpload.click()" type="button" [ngClass]="loadingProfile ? 'hide' : ''">
                    <mat-icon>swap_horiz</mat-icon>
                </button>
                <mat-spinner *ngIf="loadingProfile" class="profile-spinner"></mat-spinner>
            </div>
        </div>
        <div class="name">{{ name }}</div>
    </div>

    <mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="center" class="no-border">
        <mat-tab label="Adatok">
            <div class="data">
                <div class="list-item">
                    <mat-icon id="email-icon">email</mat-icon>
                    <div id="email-text">{{ email }}</div>
                </div>

                <ng-container *ngIf="isArtist">
                    <div class="list-item about" [ngClass]="editModeOnAbout ? 'expand' : ''">
                        <mat-icon id="about-icon">account_circle</mat-icon>
                        <div *ngIf="!editModeOnAbout" id="about-text">{{ about }}</div>
                        <mat-form-field [ngClass]="editModeOnAbout ? 'show' : 'hide'">
                            <textarea matInput rows="7" [formControl]="aboutInput" placeholder="Rólam" id="aboutInput"></textarea>
                        </mat-form-field>

                        <div class="column-flex">
                            <button *ngIf="!editModeOnAbout" mat-mini-fab (click)="editAboutInfo()" class="greenBtn" type="button">
                                <mat-icon>create</mat-icon>
                            </button>
                            <button *ngIf="editModeOnAbout" mat-mini-fab (click)="goBack()" class="goBackBtn" type="button">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                            <button *ngIf="editModeOnAbout" mat-mini-fab (click)="updateAboutInfo()" class="greenBtn" type="button">
                                <mat-icon>done</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </mat-tab>

        <ng-container *ngIf="isArtist">
            <mat-tab label="Portfólió">
                <div class="portfolio-flex">
                    <div class="image" *ngFor="let image of portfolio | keyvalue" (click)="showOption($event)">
                        <img [src]="image.value[0]" alt="img">
                        <div class="shadow" (click)="hideOption($event)">
                            <button mat-mini-fab (click)="deletePortfolioImg(image.key)" type="button">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    @if (portfolio.size === 0) {
                        <div *ngIf="!loadingPortfolio" class="no-result">
                            <mat-icon>history</mat-icon>
                            <span>Nincs még kép feltöltve</span>
                        </div>
                    } @else {
                        <div *ngIf="!loadingPortfolio" id="add-img-container">
                            <div>
                                <input multiple type="file" accept="image/*" class="hide" (change)="addToPortfolio($event)" #filesUpload>
                                <button mat-mini-fab (click)="filesUpload.click()" class="greenBtn" type="button">
                                    <mat-icon>add_to_photos</mat-icon>
                                </button>
                            </div>
                        </div>
                    }
                    <mat-spinner *ngIf="loadingPortfolio" class="portfolio-spinner"></mat-spinner>
                </div>
                @if (portfolio.size === 0) {
                    <div *ngIf="!loadingPortfolio" id="add-img-container">
                        <div>
                            <input multiple type="file" accept="image/*" class="hide" (change)="addToPortfolio($event)" #filesUpload>
                            <button mat-mini-fab (click)="filesUpload.click()" class="greenBtn" type="button">
                                <mat-icon>add_to_photos</mat-icon>
                            </button>
                        </div>
                    </div>
                }
            </mat-tab>

            <mat-tab label="Csomagok">
                <div class="cards-flex">
                    @for (id of packageIds; track id) {
                        <app-package [id]="id"></app-package>
                    }
                    @if (packageIds.length === 0 && !isNewPackage) {
                        <div class="no-result">
                            <mat-icon>history</mat-icon>
                            <span>Nincs még csomag</span>
                        </div>
                    }
                </div>
                <app-package [editMode]="true" *ngIf="isNewPackage" (newPackageDone)="addNewPackage($event)" (wentBack)="hideNewPackage($event)" class="center"></app-package>
                @if (!isNewPackage) {
                    <div class="new-package">
                        <button mat-fab extended class="mint-bgc black-c add-package-btn" (click)="showNewPackage()">
                            <mat-icon>add</mat-icon>
                            Új felvétele
                        </button>
                    </div>
                }
            </mat-tab>

            <mat-tab label="Megbízások">
                <div class="cards-flex">
                    @for (requestInfo of requestedPackagesInfo | keyvalue; track requestInfo.key) {
                        <app-commission [titleAndPrice]="requestInfo.key" [requestsData]="requestInfo.value" (allRequestsDone)="deleteCommission($event)"></app-commission>
                    }
                    @if (requestedPackagesInfo.size === 0) {
                        <div class="no-result">
                            <mat-icon>history</mat-icon>
                            <span>Nem érkezett megbízás</span>
                        </div>
                    }
                </div>
            </mat-tab>
        </ng-container>
        
        <mat-tab label="Megrendelések">
            <div class="cards-flex">
                @for (request of ownRequests; track request['id']) {
                    <app-order [order]="request"></app-order>
                }
                @if (ownRequests.length === 0) {
                    <div class="no-result">
                        <mat-icon>history</mat-icon>
                        <span>Nincs megrendelés</span>
                    </div>
                }
            </div>
        </mat-tab>
    </mat-tab-group>
</div>