.full-height {
    min-height: calc(100vh - 64px);
    line-height: 1.3;
}

::ng-deep .mat-mdc-tab {
    font-size: 18px !important;
}

::ng-deep .mdc-text-field {
    border-radius: 5px !important;
}

app-package, app-commission, app-order {
    width: 30%;
    max-width: 600px;
}

#profile_pic {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.no-border ::ng-deep .mat-mdc-tab-label-container {
    border: none;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 auto;
    padding: 25px 0;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 26px;
    padding-left: 10px;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0 10px;
}

.list-item {
    display: flex;
    align-items: flex-start;
    width: max-content;
    background-color: #2b2b2b;
    border-radius: 20px;
    height: max-content !important;
    padding: 10px;
    margin-bottom: 15px;
}

#email-icon {
    padding-right: 10px;
}

.about {
    width: max-content;
    max-width: 45%;
    div {
        white-space: normal;
    }
}

#about-icon {
    overflow: unset !important;
    padding-right: 10px;
}

.column-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.greenBtn {
    margin-left: 10px;
    color: #7effb4;
    background-color: #095229;
}

.goBackBtn {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #85ffea;
    background-color: #005446;
}

.add-package-btn {
    padding: 7px 13px !important;
    height: max-content !important;
    mat-icon {
        margin-right: 3px !important;
        transform: scale(0.9);
    }
}

#aboutInput {
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.cards-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.portfolio-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

#add-img-container {
    width: max-content;
}

.image {
    position: relative;
    margin: 5px;
    img {
        display: block;
        max-width: 300px;
        border-radius: 10px;
    }
    .shadow {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 100vmax rgba(150, 150, 150, 0.8);
        top: 0;
        left: 0;
        border-radius: 10px;
        button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #e70000;
            background-color: #ffd4d4;
        }
    }
    .loading > button{
        display: none;
    }
}

.profile-spinner ::ng-deep circle {
    stroke: black !important;
}

.profile-spinner {
    width: 50% !important;
    height: 100% !important;
    margin: 0 auto;
}

.portfolio-spinner {
    max-width: 230px !important;
    margin-left: 5px;
}

.profile-shadow {
    border-radius: 50% !important;
    button {
        width: 35px;
        height: 35px;
        color: #095229 !important;
        background-color: #7effb4 !important;
    }
}

.image:hover {
    cursor: pointer;
}

.new-package {
    width: max-content;
    margin: 0 auto 10px;
}

@media only screen and (max-width: 1350px) {
    app-package, app-commission, app-order {
        width: 35%;
    }
}

@media only screen and (max-width: 1250px) {
    app-package, app-commission, app-order {
        width: 40%;
    }
    .about {
        max-width: 55%;
    }
}

@media only screen and (max-width: 1000px) {
    app-package, app-commission, app-order {
        width: 45%;
    }
    .about {
        max-width: 60%;
    }
}

@media only screen and (max-width: 900px) {
    app-package, app-commission, app-order {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    app-package, app-commission, app-order {
        width: 60%;
    }
    .about {
        max-width: 70%;
    }
}

@media only screen and (max-width: 700px) {
    app-package, app-commission, app-order {
        width: 70%;
    }
}

@media only screen and (max-width: 636px) {
    #add-img-container {
        margin-top: 10px;
        width: 100%;
        & > div {
            width: max-content;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 630px) {
    app-package, app-commission, app-order {
        width: 80%;
    }
    .about {
        max-width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    app-package, app-commission, app-order {
        width: 100%;
    }
}