.card {
    background-color: #2b2b2b;
    margin: 5px;
    border-radius: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

::ng-deep .mat-mdc-card-title {
    margin-right: 10px;
}

.package-name-input {
    display: none;
    width: 70%;
}

.package-price-input {
    display: none;
    width: 28%;
}

.textarea-input {
    display: none;
    width: 100%;
    textarea {
        min-height: 100px;
    }
}

.desc {
    margin: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.modify {
    margin: 10px auto 6px auto;
 }

.price {
    background-color: #294c3d;
    color: #a7ffc1;
    padding: 5px;
    font-size: large;
    border-radius: 10px;
    white-space: nowrap !important;
}

.deleteBtn {
    margin-left: 10px;
    color: #ffa0a0;
    background-color: #730000;
}

.greenBtn {
    margin-left: 10px;
    color: #7effb4;
    background-color: #095229;
}

.goBackBtn {
    margin-left: 10px;
    color: #85ffea;
    background-color: #005446;
}

.not-available-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #828282;
    color: black;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 5px;
    font-weight: 500;
    margin-top: 15px;
    mat-icon {
        margin-right: 3px;
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 1190px) {
    .card-header {
        flex-wrap: wrap;
        row-gap: 10px;
    }
}