a {
    text-decoration: none;
    width: 90%;
    margin: 5px auto;
}

a:hover:not(.lime-bgc) {
    background-color: #242424;
}

.lime-bgc span, .lime-bgc mat-icon {
    color: black;
}

span {
    display: inline-block;
    width: fit-content;
    padding-left: 10px;
    padding-top: 2px;
}

mat-icon {
    float: left;
}