.agree-btn {
    margin-right: 7px;
    background-color: #363636 !important;
    color: #3de046 !important;
    height: max-content !important;
    padding: 10px !important;
}

.cancel-btn {
    color: #ff7022 !important;
}

#text {
    font-size: 16px;
    line-height: 1.5;
}

#not-available {
    font-weight: 500;
}