<mat-card class="card">
    <mat-card-header class="card-header">
        <mat-card-title>Fekete-fehér önarckép</mat-card-title>
        <mat-card-subtitle class="flex-container">
            <mat-icon class="artist-icon">brush</mat-icon>
            <span>Kis Pipin</span>
        </mat-card-subtitle>
        <div class="price">6500 Ft</div>
    </mat-card-header>

    <mat-card-content>
        <div class="title">Kérés</div>
        <p class="request-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at consectetur odio. Ut tortor ante, pellentesque non convallis ut, vulputate nec metus. Aliquam erat volutpat. Praesent lobortis ligula sit amet ultricies pretium. Integer ac turpis pulvinar, volutpat tellus ornare, lobortis ipsum. Phasellus tincidunt enim id ante euismod pretium. Fusce tincidunt iaculis ultricies. Etiam sollicitudin, massa at viverra posuere, mi mauris cursus nibh, vitae molestie tortor erat in urna.</p>
        <div class="order-state">
            <ng-container *ngIf="!isDone">
                <div class="flex-container">
                    <mat-icon>access_time</mat-icon>
                    <span>Még nem készült el</span>
                </div>
            </ng-container>
            <ng-container *ngIf="isDone">
                <div class="vertical-flex">
                    <div class="flex-container">
                        <mat-icon>done</mat-icon>
                        <span>Elkészült</span>
                    </div>
                    <span class="download-title">Képek letöltése</span>
                    <a href="../../../assets/fall.jpg" download>
                    </a>
                </div>
            </ng-container>
        </div>
    </mat-card-content>
</mat-card>