.card {
    background-color: #2b2b2b;
    margin: 5px;
    border-radius: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

::ng-deep .mat-mdc-card-title {
    margin-right: 10px;
}

.price {
    background-color: #294c3d;
    color: #a7ffc1;
    padding: 5px;
    font-size: large;
    border-radius: 10px;
    white-space: nowrap !important;
}

.artist-icon {
    color: #deb72e;
}

.title {
    margin-top: 10px;
    font-size: 18px;
    border-bottom: 2px solid #deb72e;
    width: max-content;
    padding: 0 5px;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    mat-icon {
        transform: scale(0.8);
    }
}

.space-between-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 0;
}

.request-desc {
    margin-top: 10px;
    margin-left: 5px;
}

.order-state {
    width: 100%;
    background-color: #828282;
    color: black;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 14px 5px;
    font-weight: 500;
    mat-icon {
        margin-right: 3px;
    }
}

.done-state {
    background-color: #33613b;
    color: white;
    padding: 3px 7px 3px 5px;
}

.view-images-btn {
    background-color: #2f2f2f;
    color: #dfdf1c;
    padding: 7px 13px 7px 15px !important;
    height: max-content !important;
    mat-icon {
        margin-right: 3px !important;
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 1190px) {
    .card-header {
        flex-wrap: wrap;
        row-gap: 10px;
    }
}