<mat-card class="card">
    <mat-card-header class="card-header">
        <mat-card-title>{{order['packageTitle']}}</mat-card-title>
        <mat-card-subtitle class="flex-container">
            <mat-icon class="artist-icon">brush</mat-icon>
            <span>{{order['artistName']}}</span>
        </mat-card-subtitle>
        <div class="price">{{order['packagePrice']}} Ft</div>
    </mat-card-header>

    <mat-card-content>
        <div class="title">Kérés</div>
        <p class="request-desc">{{order['description']}}</p>
        <div class="order-state" [ngClass]="order['isDone'] ? 'done-state' : ''">
            <ng-container *ngIf="!order['isDone']">
                <div class="flex-container">
                    <mat-icon>access_time</mat-icon>
                    <span>Még nem készült el</span>
                </div>
            </ng-container>
            <ng-container *ngIf="order['isDone']">
                <div class="space-between-flex">
                    <div class="flex-container">
                        <mat-icon>done</mat-icon>
                        <span>Elkészült</span>
                    </div>
                    <button mat-fab extended (click)="openImageViewDialog()" class="view-images-btn">
                        <mat-icon>photo</mat-icon>
                        Megtekintés
                    </button>
                </div>
            </ng-container>
        </div>
    </mat-card-content>
</mat-card>