<h1>Regisztráció</h1>

<div class="load" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<mat-tab-group *ngIf="!loading" dynamicHeight mat-stretch-tabs="false" mat-align-tabs="center" (selectedTabChange)="tabChanged($event)" class="no-border">
    <mat-tab label="Felhasználóknak">
        <div class="center">
            <form [formGroup]="signUpUserForm" (ngSubmit)="onSubmit($event)">
                <mat-form-field>
                    <mat-label>Név</mat-label>
                    <input matInput type="text" formControlName="name"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Jelszó</mat-label>
                    <input matInput type="password" formControlName="pswd"/>
                </mat-form-field>
                <mat-form-field class="last-input">
                    <mat-label>Jelszó újra</mat-label>
                    <input matInput type="password" formControlName="rePswd"/>
                </mat-form-field>
                <div class="required">*Kötelező megadni</div>

                <mat-expansion-panel class="expansion-panel">
                    <mat-expansion-panel-header>Profilkép</mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                        <div class="file-upload">
                            <input type="file" accept="image/*" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                            <button mat-mini-fab class="upload_btn mint-bgc" type="button" (click)="fileUpload.click()">
                                <mat-icon class="black-c">attach_file</mat-icon>
                            </button>
                            <span class="text">Tallózás</span>
                        </div>
                        <div class="profile-pic" *ngIf="profile_url">
                            <img src="{{profile_url}}">
                        </div>
                    </ng-template>
                </mat-expansion-panel>

                <div class="buttons">
                    <button mat-raised-button class="lime-bgc black-c" type="submit">Regisztráció</button>
                    <button mat-raised-button class="lime-bgc black-c" type="button" (click)="goBack()">Vissza</button>
                </div>
            </form>
        </div>
    </mat-tab>

    <mat-tab label="Művészeknek">
        <div class="center">
            <form [formGroup]="signUpArtistForm" (ngSubmit)="onSubmit($event)">
                <mat-form-field>
                    <mat-label>Név</mat-label>
                    <input matInput type="text" formControlName="name"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Jelszó</mat-label>
                    <input matInput type="password" formControlName="pswd"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Jelszó újra</mat-label>
                    <input matInput type="password" formControlName="rePswd"/>
                </mat-form-field>
                <mat-form-field class="last-input">
                    <mat-label>Rólam</mat-label>
                    <textarea matInput formControlName="about" id="about-textarea"></textarea>
                </mat-form-field>
                <div class="required">*Kötelező megadni</div>

                <mat-expansion-panel id="artist_prof_exp_panel" class="expansion-panel">
                    <mat-expansion-panel-header>Profilkép</mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                        <div class="file-upload">
                            <input type="file" accept="image/*" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                            <button mat-mini-fab class="mint-bgc" type="button" (click)="fileUpload.click()">
                                <mat-icon class="black-c">attach_file</mat-icon>
                            </button>
                            <span class="text">Tallózás</span>
                        </div>
                        <div class="profile-pic" *ngIf="profile_url">
                            <img src="{{profile_url}}">
                        </div>
                    </ng-template>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-panel">
                    <mat-expansion-panel-header>Portfólió képei</mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                        <div class="file-upload">
                            <input multiple type="file" accept="image/*" class="file-input" (change)="onFilesSelected($event)" #filesUpload>
                            <button mat-mini-fab class="upload_btn mint-bgc" type="button" (click)="filesUpload.click()">
                                <mat-icon class="black-c">attach_file</mat-icon>
                            </button>
                            <span class="text">Tallózás</span>
                        </div>
                        <div class="pics" *ngIf="portfolio_urls.length > 0">
                            <img *ngFor="let url of portfolio_urls" src="{{url}}">
                        </div>
                    </ng-template>
                </mat-expansion-panel>

                <div class="buttons">
                    <button mat-raised-button class="lime-bgc black-c" type="submit">Regisztráció</button>
                    <button mat-raised-button class="lime-bgc black-c" type="button" (click)="goBack()">Vissza</button>
                </div>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>