.no-border ::ng-deep .mat-mdc-tab-label-container {
    border: none;
}

::ng-deep .mdc-text-field, ::ng-deep .mat-expansion-panel {
    border-radius: 5px !important;
}

::ng-deep .mat-mdc-tab {
    font-size: 18px !important;
}

h1 {
    width: max-content;
    margin: 40px auto 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    form > *:not(.buttons) {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    .mat-expansion-panel-header {
        min-height: max-content;
        padding: 5px 10px;
    }
}

.load {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

form {
    margin-top: 25px;
    display: inline-grid;
    width: 100%;
}

.file-input {
    display: none;
}

.file-upload {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#about-textarea {
    height: 100px;
    min-height: 50px;
}

.last-input ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.required {
    font-size: 14px;
    font-style: italic;
    color: #ffa3a3;
    margin-bottom: 5px;
    padding: 5px;
}

.text {
    box-sizing: border-box;
    margin-left: 5px;
}

.pics {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 15px;
    flex-wrap: wrap;
}

.pics > img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 2px solid #28473a;
    border-radius: 5px;
}

.profile-pic {
    margin: 0 auto;
    width: max-content;
}

.profile-pic > img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #28473a;
    border-radius: 50%;
}

#artist_prof_exp_panel {
    margin-bottom: 20px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 10px 15px !important;
}

mat-expansion-panel-header {
    padding: 0 5px;
}

.buttons {
    width: max-content;
    margin: 20px auto 30px;
    box-sizing: border-box;
}

.buttons button {
    padding: 5px 10px;
    margin-right: 15px;
}