<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="green-bgc">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div id="cim">Comissions</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <div *ngIf="page === 'main'" class="input-icon">
          <i class="fa fa-search icon"></i>
          <input matInput id="keres" placeholder="Keresés" type="text" name="search" size="25">
        </div>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li *ngIf="loggedInUser"><a routerLink="/main">Művészek</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/cart">Kosár</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/login">Bejelentkezés</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/login">Kijelentkezés</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/signup">Regisztráció</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>