a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

a:hover, a:active {
    color:  #00524d;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

mat-sidenav {
    width: 250px;
}

#cim {
    font-weight: bolder;
    font-size: x-large;
    padding-left: 5px;
}

#keres{
    border: none;
    border-radius: 20px;
    box-sizing: content-box;
    padding: 10px 0 10px 35px;
    -moz-appearance: textfield;   /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
.db::-webkit-outer-spin-button,
.db::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

i {
    position: absolute;
    padding: 8px 10px 10px 10px;
    min-width: 40px;
}

.input-icon {
    width: fit-content;
    padding-right: 20px;
}