a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding: 0 0 !important;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-items li{
    border-right: 2px solid #414141;
    border-left: 2px solid #414141;
    border-radius: 10px 10px;
    padding: 8px 8px;
    box-sizing: border-box;
}

.navigation-items li:active, .navigation-items li:hover {
    border: 2px solid #414141;
    padding: 6px 8px;
}

mat-sidenav {
    width: 250px;
}

#cim {
    font-weight: 600;
    font-size: x-large;
    padding-left: 5px;
    letter-spacing: 1px;
    color: black;
}

#keres {
    border: none;
    border-radius: 20px;
    box-sizing: content-box;
    padding: 10px 0 10px 35px;
}

/* Chrome, Safari, Edge, Opera */
.db::-webkit-outer-spin-button,
.db::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

i {
    position: absolute;
    padding: 8px 10px 10px 10px;
    min-width: 40px;
}

.input-icon {
    width: fit-content;
    padding-right: 20px;
    margin-top: 5px;
}