#sidenav {
    border-radius: unset;
}

a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding: 0 0 !important;
}

#navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation-items li {
    padding: 9px;
}

#navigation-items li:hover {
    border: 3px solid #414141;
    padding: unset;
    div {
        padding: 5px;
        border: 2px solid #8da83b;
        position: relative;

        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            background: #8da83b;
        }
        &::before {
            top: -4px;
            bottom: -4px;
            left: 5px;
            right: 5px;
        }
        &::after{
            left: -4px;
            right: -4px;
            top: 5px;
            bottom: 5px;
        }
        a {
            position: relative;
            z-index: 1;
        }
    }
}

.active {
    font-weight: 500;
}

mat-sidenav {
    width: 250px;
}

#cim {
    font-weight: 600;
    font-size: x-large;
    padding-left: 5px;
    letter-spacing: 1px;
    color: black;
}

#keres {
    border: none;
    border-radius: 20px;
    box-sizing: content-box;
    padding: 10px 0 10px 35px;
}

/* Chrome, Safari, Edge, Opera */
.db::-webkit-outer-spin-button,
.db::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

i {
    position: absolute;
    padding: 8px 10px 10px 10px;
    min-width: 40px;
}

.search {
    width: fit-content;
    padding-right: 20px;
    margin-top: 5px;
    input:focus {
        outline: none;
        box-shadow: 0 0 5pt 0.5pt black;
    }
}

#menu-icon {
    color: black;
}