<mat-sidenav-container>

  <mat-sidenav #sidenav id="sidenav">
    <app-menu [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (logout)="onLogout($event)"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="green-bgc">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon id="menu-icon">menu</mat-icon>
        </button>
      </div>
      <div id="cim">Comissions</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <div *ngIf="page === 'main'" class="search">
          <i class="fa fa-search icon"></i>
          <input matInput id="keres" placeholder="Keresés" type="text" name="search" size="25">
        </div>
        <ul fxLayout fxLayoutGap="10px" id="navigation-items">
          <li *ngIf="loggedInUser"><div><a routerLink="/main" [ngClass]="page === 'main' ? 'active' : ''">Művészek</a></div></li>
          <li *ngIf="!(loggedInUser)"><div><a routerLink="/login" [ngClass]="page === 'login' ? 'active' : ''">Bejelentkezés</a></div></li>
          <li *ngIf="loggedInUser"><div><a routerLink="/account" [ngClass]="page === 'account' ? 'active' : ''">Fiók</a></div></li>
          <li *ngIf="loggedInUser"><div><a routerLink="/login" (click)="onLogout(true)">Kijelentkezés</a></div></li>
          <li *ngIf="!(loggedInUser)"><div><a routerLink="/signup" [ngClass]="page === 'signup' ? 'active' : ''">Regisztráció</a></div></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>