.full-height {
    min-height: calc(100vh - 64px);
    line-height: 1.3;
    padding: 10px 0;
}

.center-flex {
    margin: 40px auto;
    width: max-content;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon {
        margin-right: 5px;
    }
}

.cards-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-link {
    text-decoration: none !important;
    color: #e2e3de !important;
}

.card {
    width: 350px;
    text-align: center;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

::ng-deep .mat-mdc-card-header {
    padding-top: 12px !important;
}

.header {
    margin: 5px auto 0;
}

.avatar {
    float: left;
    background-size: cover;
    min-height: 50px;
    min-width: 50px;
}

mat-card-title {
    display: inline-block;
    padding-top: 15px !important;
    padding-left: 6px;
}

.portfolio-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .img-wrapper {
        width: 149px;
        height: 149px;
        padding: 5px;
        box-sizing: border-box;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

.artist-about {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 10px;
}