<div class="full-height dark-bgc">
    <div *ngIf="noResult" class="center-flex">
        <mat-icon>find_in_page</mat-icon>
        <span>Nincs találat</span>
    </div>
    <div *ngIf="noArtists" class="center-flex">
        <mat-icon>people</mat-icon>
        <span>Nincs regisztrált művész</span>
    </div>
    <div class="cards-flex">
        <a routerLink="/artist-profile/{{artist.key}}" class="profile-link" *ngFor="let artist of artists | keyvalue">
            <mat-card class="card">
                <mat-card-header>
                    <div class="header">
                        <div mat-card-avatar class="avatar" [ngStyle]="{'background-image': artist.value[3]}"></div>
                        <mat-card-title>{{artist.value[0]}}</mat-card-title>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="portfolio-flex" *ngIf="portfolios.get(artist.key)?.length">
                        <div class="img-wrapper" *ngFor="let image of portfolios.get(artist.key) | slice:0:4">
                            <img [src]="image" alt="img">
                        </div>
                    </div>
                    <p class="artist-about">{{artist.value[2]}}</p>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
</div>