<div class="full-height">
    <div class="header">
        <img id="profile_pic" [src]="profileUrl" alt="profile-picture">
        <div class="name">{{name}}</div>
    </div>

    <mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="center" class="no-border">
        <mat-tab label="Rólam">
            <div class="about">
                <mat-icon id="about-icon">account_circle</mat-icon>
                <div id="about-text">{{about}}</div>
            </div>
        </mat-tab>

        <mat-tab label="Portfólió">
            <div class="portfolio-flex">
                <img *ngFor="let image of portfolio" [src]="image" alt="img">
                @if (portfolio.length === 0) {
                    <div class="no-result">
                        <mat-icon>history</mat-icon>
                        <span>Nincs feltöltött kép</span>
                    </div>
                }
            </div>
        </mat-tab>

        <mat-tab label="Csomagok">
            <div class="cards-flex">
                @for (id of packageIds; track id) {
                    <app-artist-package [id]="id" [artistId]="artistId" (packageDeleted)="removePackage($event)"></app-artist-package>
                }
                @if (packageIds.length === 0) {
                    <div class="no-result">
                        <mat-icon>history</mat-icon>
                        <span>Nincs elérhető csomag</span>
                    </div>
                }
            </div>
        </mat-tab>
    </mat-tab-group>
</div>