html, body { 
  height: 100%; 
  scrollbar-color: #adadad #646464;
}

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.expansion-panel {
  background-color: #395c4d !important;
}

.mint-bgc {
  background-color: #6dcc89 !important;
}

.lime-bgc {
  background-color: #97cb42 !important;
}

.green-bgc {
  background-color: #8da83b !important;
}

.white-c {
  color: white !important;;
}

.black-c {
  color: black !important;;
}

.dark-bgc {
  background-color: #2e2e2e;
}

.grey-bg {
  background-color:rgba(75, 75, 75, 0.6);
  backdrop-filter: blur(15px);
}