.exp-panel {
    background-color: #234d47 !important;
}

.account-icon {
    margin-right: 7px;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.done-btn {
    margin-top: 10px;
    background-color: #272727;
    color: #79d81e;
    padding: 7px 13px 7px 15px !important;
    height: max-content !important;
    mat-icon {
        margin-right: 3px !important;
    }
}

.add-img-btn {
    background-color: #4a4a4a;
    color: #bbbbbb;
}

.attached-file-btn {
    color: #79d81e;
}

.send-btn {
    margin-top: 10px;
    margin-right: 7px;
    background-color: #272727;
    color: #ffe162;
    padding: 7px 12px 7px 17px !important;
    height: max-content !important;
    mat-icon {
        margin-right: 3px !important;
        transform: scale(0.8);
    }
}

.cancel-btn {
    color: #ff8c4d;
}

.file-upload-container {
    background-color: #272727;
    width: max-content;
    padding: 7px;
    border-radius: 10px;
    margin-top: 10px;
}

.file-input {
    margin-right: 5px;
}

.hide {
    display: none;
}