.exp-panel {
    background-color: #234d47 !important;
}

.account-icon {
    margin-right: 7px;
}

.done-btn {
    margin-top: 10px;
    background-color: #272727;
    color: #79d81e;
    padding: 7px 13px 7px 15px !important;
    height: max-content !important;
    mat-icon {
        margin-right: 3px !important;
    }
}